run =  ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
entrypoint = "main.py"
modules = ["python-3.10:v18-20230807-322e88b", "postgresql-16"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"
packages = ["glibcLocales", "postgresql"]

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python3 main.py"]

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-b5446f4f-041f-475a-817a-5bc695b0b196"

[agent]
expertMode = true
