{% include 'dashboardheader.html' %}
 <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="link-danger border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1 link-danger">Menu</i></a>




            <div class="page-header pt-3">
            <h2>Generate Questions</h2>
            </div>
            <p class="lead"></p>
            <hr>
            <div class="row">
                <div class="col-12">




                  
                                       
                                        <form class="row g-3" method="POST" action="{{url_for('addQuestionFormYouTube')}}">

                                             <textarea class="form-control" id="validationTextarea" placeholder="You Tube Video Link" name="youtubelink"></textarea>
                                            <h4>OR</h4>
                                             <textarea class="form-control" id="validationTextarea" placeholder="Paste Text" name="aitext"></textarea>
                                            
                                          

                                  


                                          <br>

                                                        <br>
                                        
                                               <input type="hidden" value="{{set}}" name="quizId">
                                         
                                                <input type="hidden" value=" {{teacherid}}" name="teacherId">

                                           <input type="hidden" value=" {{token}}" name="token">





                                          <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
                                            <button type="submit" class="btn btn-warning btn-lg px-4 gap-3">Generate Questions</button>
                                                    <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{  url_for('displayOneQuestionSet', id=set) }}';">Cancel</button>    
                                          </div>


                                          
                                          </form>


                                         </div>




















                </div>
            </div>
        </main>
    </div>
</div>



        <!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- Core theme JS-->

        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>

{% include 'footer.html' %}