{% include 'dashboardheader.html' %}
 <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="link-danger border rounded-3 p-1 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1 link-danger">Menu</i></a>




            <div class="page-header pt-3">
            <h2>Add Question</h2>
            </div>
            <p class="lead"></p>
            <hr>
            <div class="row">
                <div class="col-12">




                  
                                       
                                        <form class="row g-3" method="POST" action="{{url_for('addQuestionForm')}}">
                                           <textarea class="form-control" id="validationTextarea" placeholder="Question" name="questionText" required></textarea>

                                          <table>
                                          <tr>
                                              <td>A. <textarea class="form-control" id="validationTextarea" placeholder="Answer 1" name="answer1" required></textarea></td>
                                              <td>B. <textarea class="form-control" id="validationTextarea" placeholder="Answer 2" name="answer2" required></textarea></td>
                                          </tr>
                                          <tr>
                                        
                                              <td>C. <textarea class="form-control" id="validationTextarea" placeholder="Answer 3" name="answer3" required></textarea>
                                          
                                           

                                               <td>D. <textarea class="form-control" id="validationTextarea" placeholder="Answer 4" name="answer4" required></textarea>
                                             
                                            
                                          </tr>
                                          </table>
              
      <!-- Correct Answer:  <input class="form-control" type="text" name="correctAnswer" pattern="[ABCD]" required> -->
                                      
                                                   <select id="correctAnswer" name="correctAnswer" class="form-select" aria-label="Correct Answer" required>
                                                     <option value="A">Correct Answer</option>
                                                     <option value="A">A</option>
                                                     <option value="B">B</option>
                                                     <option value="C">C</option>
                                                      <option value="D">D</option>
                                                   </select>

                                          <br>

                                                        <br>
                                        
                                               <input type="hidden" value="{{set}}" name="quizId">
                                         
                                                <input type="hidden" value=" {{teacherid}}" name="teacherId">

                                           <input type="hidden" value=" {{token}}" name="token">





                                          <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
                                            <button type="submit" class="btn btn-warning btn-lg px-4 gap-3">Add Question</button>
                                                    <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{  url_for('displayOneQuestionSet', id=set) }}';">Cancel</button>    
                                          </div>


                                          
                                          </form>


                                         </div>




















                </div>
            </div>
        </main>
    </div>
</div>



        <!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <!-- Core theme JS-->

        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>

{% include 'footer.html' %}