{% include 'header.html' %}


<main class="w-75 m-auto">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-h2ght">Thank You!</h1>
        <br>
        <p class="lead text-body-secondary">Shout Out To The Sites and People Who Make Quiz Playground Possible</p>
       
   
      </div>
    </div>


    <h2><a class="link-danger text-decoration-none" href="https://www.youtube.com/@Brackeys" target="_blank" >Brackeys' Tutorials</a></h2>
     <h2><a class="link-danger text-decoration-none" href="https://quiver.dev/" target="_blank">Quiver Tutorials</a></h2>
    <h2><a class="link-danger text-decoration-none" href="https://kenney.nl/assets" target="_blank">Kenney Assets</a></h2>
     <h2><a class="link-danger text-decoration-none" href="https://www.freepik.com/free-vector/bright-geometric-shape-background_5954583.htm#fromView=image_search_similar&page=1&position=0&uuid=f187d822-8069-4f0e-8d14-a57d5583a8ac" target="_blank">Website Background by vector_corp on Freepik</a></h2>




    
  </section>

  <!-- <div class="album py-5 bg-body-tertiary"> -->

  


  




 




        
          
          
  
</main>
{% include 'footer.html' %}

