{% include 'header.html' %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Games</h1>
        <p class="lead text-body-secondary">Fun Games to use in your classroom that students want to play. Choose any <a class="link-danger text-decoration-none" href="{{ url_for('displayQuestionSets') }}">quiz</a> to use in any game.  Simply enter the quiz code at the start of the game.  <a class="link-danger text-decoration-none" href="{{ url_for('pricing') }}">Premium</a> users can view results and create quizzes.</p>
        <!-- <p>
          <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('displayQuestionSets') }}" >Quizzes</a>
         
        </p> -->
        <h5>More Games Coming Soon!</h5>
        <h5 class="text-danger">At This Time Our Games Are NOT Playable On Phones Or Tablets</h5>
        <br>
        <br>
        
      
      </div>
    </div>
  </section>

  <!-- <div class="album py-5 bg-body-tertiary"> -->
        <div class="album py-5">

      <div class="container text-center">
        <h3 class="h3 mb-0">Instructions</h3>
        <ol  class="list-group-numbered list-group-flush list-unstyled">
          <li class="list-group-item">
            Pick a game and press play.
          </li>
          <li class="list-group-item">At the beginning of the game enter a <a class="link-danger text-decoration-none" href="{{ url_for('displayQuestionSets') }}">quiz</a> code from your teacher or press the Trivia button.</li>
        </ol>
        <br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


        <!-- new card -->

        <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/asteroido.png') }}" class="card-img-top" alt="Asteroido Game Image">
          <div class="card-body">
            <h5 class="card-title">Asteroido</h5>
            <p class="card-text">High-Speed Space Adventure!</p>
               <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('arthur',name='index.html') }}';">Play</button> -->
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
              <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('asteroido') }}">Play</a>
            </div>
          </div>
        </div>
            </div>
        <!-- end new card -->

        <!-- new card -->

        <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/warehouse.png') }}" class="card-img-top" alt="Asteroido Game Image">
          <div class="card-body">
            <h5 class="card-title">Warehouse Manager</h5>
            <p class="card-text">A brain-teasing adventure, challenging you to think ahead and plan like a true warehouse wizard.</p>

           <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
              <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('warehouse') }}">Play</a>
            </div>
          </div>
        </div>
            </div> 
        <!-- end new card -->

        
        <!-- new card -->

        <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/memory.png') }}" class="card-img-top" alt="Arthur Game Image">
          <div class="card-body">
            <h5 class="card-title">Memory Madness</h5>
            <p class="card-text">Unlock the Power of Your Mind: Embark on a Journey of Memory Mastery!</p>
               <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('arthur',name='index.html') }}';">Play</button> -->
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
              <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('memory') }}">Play</a>
            </div>
          </div>
        </div>
            </div>
        <!-- end new card -->

        
<!-- new card -->
        
          <div class="col">
          <div class="card shadow-sm" style="width: 18rem;">
            <img src="{{ url_for('static', filename='assets/arthur.png') }}" class="card-img-top" alt="Arthur Game Image">
            <div class="card-body">
              <h5 class="card-title">Arthur the Greedy</h5>
              <p class="card-text">Collect as many coins as possible and try to survive in this fun platform game.</p>
                 <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('arthur',name='index.html') }}';">Play</button> -->
              <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
                <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('arthur') }}">Play</a>
              </div>
            </div>
          </div>
              </div>
          <!-- end new card -->


        <!-- new card -->

        <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/cannon.png') }}" class="card-img-top" alt="Arthur Game Image">
          <div class="card-body">
            <h5 class="card-title">Cannon Ball Catch</h5>
            <p class="card-text">Catapult to Victory: Unleash the Chaos, Crush the Competition!</p>
               <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('arthur',name='index.html') }}';">Play</button> -->
            <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
              <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('cannon') }}">Play</a>
            </div>
          </div>
        </div>
            </div>
        <!-- end new card -->




        



        <!-- new card -->
        <!-- <div class="col">
        <div class="card shadow-sm" style="width: 18rem;">
          <img src="{{ url_for('static', filename='assets/arthur.png') }}" class="card-img-top" alt="Arthur Game Image">
          <div class="card-body">
            <h5 class="card-title">Outpost Assault</h5>
            <p class="card-text">Classic Tower Defense.</p> -->
               <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('arthur',name='index.html') }}';">Play</button> -->

              <!-- <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('outpost') }}">Play</a> -->

          </div>
        </div>
            </div>
        <!-- end new card -->


        
        
          
          
          
      </div>
    </div>
  </div>

</main>

{% include 'footer.html' %}

