{% include 'header.html' %}


<main>

  <section class="text-center container">
    <div class="row py-lg-2">
      <div class="col-lg-10 col-md-8 mx-auto">
        <h1 class="fw-light">Games</h1>
        <!-- <p class="lead">Fun Games to use in your classroom that students want to play. 
           <ul  class="list-group-flush list-unstyled">
          <li><p class="lead">Choose any <a class="link-danger text-decoration-none" href="{{ url_for('displayQuestionSets') }}">quiz</a> to use in any game.</p> </li> 
          <li><p class="lead">Simply enter the quiz code at the start of the game.</p> </li> -->

           <!-- </ul> -->
        <!-- <p>
          <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('displayQuestionSets') }}" >Quizzes</a>
         
        </p> -->
        <!-- <hr> -->
        <!-- <h2 class="fw-light mb-1">Instructions</h2> -->
        <ol  class="list-group-numbered list-group-flush list-unstyled">
          <li class="list-group-item">
            Pick a game and press play.
          </li>
          <li class="list-group-item">At the beginning of the game, enter a <a class="link-danger text-decoration-none" href="{{ url_for('displayQuestionSets') }}">quiz</a> code from your teacher or press the Trivia button.</li>
        </ol>
   
        <!-- <p class="lead"><a class="link-danger text-decoration-none" href="{{ url_for('pricing') }}">Premium</a> users can view results and create quizzes.</p> -->

        <!-- <div class=" text-center   align-items-center justify-content-center">

      <div class="container text-center  align-items-center justify-content-center"> -->

        <br>

        <div class="card mb-3 bg-light" style="max-width:100%;">
          <div class="row g-0">
            <div class="col-md-4">
          
            <img src="{{ url_for('static', filename='assets/tower.jpg') }}" class="img-fluid rounded-start"  alt="Tower Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Tank Assault</h2>
                <br>
                <h4 class="card-text text-muted">Defend Tomorrow’s Frontlines: Stand Tall, Safeguard the Last Barrier</h4>
                <br>
        
              
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
             
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('tower') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>


        
        <div class="card mb-3 bg-light" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='assets/asteroido.png') }}" class="img-fluid rounded-start" alt="Asteroido Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Asteroido</h2>
                <h4 class="card-text text-muted">Race through the cosmos: Experience the ultimate high-speed space adventure.</h4>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('asteroido') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='assets/warehouse.png') }}" class="img-fluid rounded-start" alt="Warehouse Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Warehouse Manager</h2>
                <h4 class="card-text text-muted">Engage your mind: Embark on a brain-teasing journey that challenges you to think ahead and strategize like a master warehouse wizard.</h4>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('warehouse') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="card mb-3 bg-light" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='assets/memory.png') }}"  class="img-fluid rounded-start" alt="Memory Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Memory Madness</h2>
                <h4 class="card-text text-muted">Unlock the power of your mind: Embark on a journey of memory mastery!</h4>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('memory') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="card mb-3 bg-light" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='assets/arthur.png') }}" class="img-fluid rounded-start"  alt="Memory Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Arthur the Greedy</h2>
                <h4 class="card-text text-muted">Be greedy: Strive to survive in this entertaining platform game.</h4>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('arthur') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="card mb-3 bg-light" style="max-width: 100%;">
          <div class="row g-0">
            <div class="col-md-4">
            <img src="{{ url_for('static', filename='assets/cannon.png') }}"  class="img-fluid rounded-start" alt="Memory Game Image">            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2 class="card-title">Cannon Ball Catch</h2>
                <h4 class="card-text text-muted">Catapult to victory: Unleash the chaos, crush the competition!</h4>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto mt-0" >
                  <a class="btn btn-warning btn-lg px-4 gap-3" href="{{ url_for('cannon') }}">Play</a>

                </div>
              </div>

            </div>
          </div>
        </div>
        <br>
        <br>
        <h2>More Games Coming Soon!</h2>

   
            </div>
          </div>
        </section>
        <!-- end new card -->


        
        
          
          
          
      </div>
    </div>
  </div>


</main>
{% include 'footer.html' %}

