{% include 'header.html' %}


<main class="w-75 m-auto">

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">We Would Love To Help You!</h1>
        <br>
        <p class="lead text-body-secondary">Need help with a game or billing?  <br>Check out our <a class="link-danger text-decoration-none" href="{{ url_for('faq') }}"> FAQ</a> or <a class="link-danger text-decoration-none" href="mailto:support@quizplayground.com">email</a> us at <a class="link-danger text-decoration-none" href="mailto:support@quizplayground.com">support@quizplayground.com</a></p>
       



        <!-- mailer lite form -->

        <!-- <button class="ml-onclick-form btn btn-warning" onclick="ml('show', 'uKEGkA', true)">Sign Up For Our Newsletter</button> -->
     
        <!-- mailer lite form -->

        <iframe width="540" height="305" src="https://c8b72b1d.sibforms.com/serve/MUIFAHlrlI-ZCzcEixWvdqq_3i0TfwrBfSjGSJs-toIa1o-5yYzSV7cn9-Zib-U8lV78vzcAbqZ3WvQ_LyoNzGPNMHNnS03RH_76jfVwFeqM8xeeGvSi4L4SoNl2t4XrGqxjdeNbD19bQNI24mSJKMri3G28LoyrsjmdiouQiVV-n_OP-lwIpTF304t159YtdW3S3_625QbLExHP" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>


        
      </div>
    </div>
  </section>

  <!-- <div class="album py-5 bg-body-tertiary"> -->
        <div class="album py-5">

      <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">





        
          
          
          
      </div>
    </div>
  </div>

</main>

