{% include 'header.html' %}

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">

<!--  login -->

                <main class="form-signin w-100 m-auto">
                  <form method="POST" action="{{ url_for('login') }}">
                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                    <div class="form-floating">
                      <input type="email" class="form-control mb-2" id="floatingInput" placeholder="name@example.com" name="email">
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control mb-2" id="floatingPassword" placeholder="Password" name="password">
                      <label for="floatingPassword">Password</label>
                    </div>
                    <input type="hidden" name="token" value="{{ token }}">
                    
                    <!-- <button class="btn btn-warning btn-lg w-100 py-2" type="submit">Sign in</button> -->

                    <div class="d-grid gap-2 d-lg-flex justify-content-lg-center">
                      <button type="submit" class="btn btn-warning btn-lg px-4 gap-3">Sign In</button>
                              <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('forgotpassword') }}';">Forgot Password</button>    
                    </div>


     


                    
                    
                    <p>
                      <small class="text-danger">{{ msg }}</small>
                    </p>
                    
                   
                  </form>
                </main>

 



                
                 </div>
            </div>
        </div>
</section>

{% include 'footer.html' %}