{% include 'header.html' %}
        <!-- Content section-->


      <div class="px-4 py-5 my-5 text-center">
        
        
        <div class="col-lg-6 mx-auto">
          <h2>Quiz Complete! </h2> <br> <br>
          <h3 class="lead mb-4">
            Get additional practice by playing a game below.  Enter quiz code <span class="text-danger">{{set}}</span>  and teacher id <span class="text-danger">{{ teacherid }}</span> at the beginning of the game.</h3>
          
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-warning btn-lg px-4" style="width:40%; margin: auto;" onclick="window.location.href='{{ url_for('games') }}';">Games</button>
           <!-- <button type="button" class="btn btn-warning btn-lg px-4 gap-3" onclick="window.location.href='{{ url_for('displayQuestionSets') }}';">Quizzes</button>           -->



          </div>
        </div>
      </div>


      
{% include 'footer.html' %}