{% include 'header.html' %}
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
            
<!-- form 2 -->
                        <h2>Success!</h2>
                   
                        <h5>
                          <small class="text-muted">Quiz Code: {{ code }}.  Give this to your students to start any game.</small>
                        </h5>
<br>
                        <h5>
                          <small class="text-muted">View all quizzes</small>
                        </h5>
                        
                         </div>
                        
                    </div>
                </div>
         
        </section>
{% include 'footer.html' %}